<div class="columns has-text-centered">
  <div class="column" (click)="updateStuffViewer(amulette)">
    <div [className]="amulette !== undefined ? 'customizedContent': ''">
      <a *ngIf="amulette === undefined" routerLink="amulette">Amulette</a>

      <img *ngIf="amulette !== undefined" src="{{amulette.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="amulette !== undefined" (click)="removeAmulette(amulette)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column" (click)="updateStuffViewer(anneau1)">
    <div [className]="anneau1 !== undefined ? 'customizedContent': ''">
      <a *ngIf="anneau1 === undefined" routerLink="anneau1">Anneau</a>

      <img *ngIf="anneau1 !== undefined" src="{{anneau1.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="anneau1 !== undefined" (click)="removeAnneau1(anneau1)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>

  <div class="column" (click)="updateStuffViewer(anneau2)">
    <div [className]="anneau2 !== undefined ? 'customizedContent': ''">
      <a *ngIf="anneau2 === undefined" routerLink="anneau2">Anneau</a>

      <img *ngIf="anneau2 !== undefined" src="{{anneau2.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="anneau2 !== undefined" (click)="removeAnneau2(anneau2)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column" (click)="updateStuffViewer(ceinture)">
    <div [className]="ceinture !== undefined ? 'customizedContent': ''">
      <a *ngIf="ceinture === undefined" routerLink="ceinture">Ceinture</a>

      <img *ngIf="ceinture !== undefined" src="{{ceinture.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="ceinture !== undefined" (click)="removeCeinture(ceinture)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>

  <div class="column" (click)="updateStuffViewer(bottes)">
    <div [className]="bottes !== undefined ? 'customizedContent': ''">
      <a *ngIf="bottes === undefined" routerLink="bottes">Bottes</a>

      <img *ngIf="bottes !== undefined" src="{{bottes.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="bottes !== undefined" (click)="removeBottes(bottes)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column" (click)="updateStuffViewer(coiffe)">
    <div [className]="coiffe !== undefined ? 'customizedContent': ''">
      <a *ngIf="coiffe === undefined" routerLink="coiffe">Coiffe</a>

      <img *ngIf="coiffe !== undefined" src="{{coiffe.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="coiffe !== undefined" (click)="removeCoiffe(coiffe)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>

  <div class="column" (click)="updateStuffViewer(cape)">
    <div [className]="cape !== undefined ? 'customizedContent': ''">
      <a *ngIf="cape === undefined" routerLink="cape">Cape</a>

      <img *ngIf="cape !== undefined" src="{{cape.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="cape !== undefined" (click)="removeCape(cape)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>
</div>

<div class="columns has-text-centered">
  <div class="column" (click)="updateStuffViewer(arme)">
    <div [className]="arme !== undefined ? 'customizedContent': ''">
      <a *ngIf="arme === undefined" routerLink="armes">Arme</a>

      <img *ngIf="arme !== undefined" src="{{arme.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="arme !== undefined" (click)="removeArme(arme)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>

  <div class="column" (click)="updateStuffViewer(bouclier)">
    <div [className]="bouclier !== undefined ? 'customizedContent': ''">
      <a *ngIf="bouclier === undefined" routerLink="bouclier">Bouclier</a>

      <img *ngIf="bouclier !== undefined" src="{{bouclier.imgUrl}}" alt="" class="is-200x200" />
      <button *ngIf="bouclier !== undefined" (click)="removeBouclier(bouclier)" class="delete is-danger customizedButtonPosition"></button>
    </div>
  </div>

</div>

<div class="columns has-text-centered">
  <div class="column" (click)="updateStuffViewer(familier)">
    <div [className]="familier !== undefined || monture !== undefined ? 'customizedContent': ''">
      <div *ngIf="monture === undefined">
        <a *ngIf="familier === undefined" routerLink="familier">Choisir Familier</a>

        <img *ngIf="familier !== undefined" src="{{familier.imgUrl}}" alt="" class="is-200x200" />
        <button *ngIf="familier !== undefined"
                (click)="removePets(monture ? monture : familier, monture ? 'Monture' : 'Familier')"
                class="delete is-danger customizedButtonPosition"></button>
      </div>
      <div *ngIf="familier === undefined">
        <a *ngIf="monture === undefined" routerLink="monture">Choisir Monture</a>

        <img *ngIf="monture !== undefined" src="{{monture.imgUrl}}" alt="" class="is-200x200" />
        <button *ngIf="monture !== undefined"
                (click)="removePets(monture ? monture : familier, monture ? 'Monture' : 'Familier')"
                class="delete is-danger customizedButtonPosition"></button>
      </div>
    </div>
  </div>
</div>
