<div class="statistique">
  <div class="columns">
    <div class="column is-2">
      <span>Fuite :</span> {{fuite}}
    </div>
    <div class="column is-2">
      <span>Tacle :</span> {{tacle}}
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <span>Esquive PA :</span> {{esquivePa}}
    </div>
    <div class="column is-2">
      <span>Esquive PM :</span> {{esquivePm}}
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <span>Retrait PA :</span> {{retraitPa}}
    </div>
    <div class="column is-2">
      <span>Retrait PM :</span> {{retraitPm}}
    </div>
  </div>
</div>
