<article class="media">
  <div class="media-content">
    <div class="content">
      <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
        <thead>
        <tr>
          <th>Tacle</th>
          <th>Esquive PA</th>
          <th>Esquive PM</th>
          <th>Fuite</th>
          <th>Retrait PA</th>
          <th>Retrait PM</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{tacle + panoplieTacle}}</td>
          <td>{{esquivePa + panoplieEsquivePa}}</td>
          <td>{{esquivePm + panoplieEsquivePm}}</td>
          <td>{{fuite + panoplieFuite}}</td>
          <td>{{retraitPa + panoplieRetraitPa}}</td>
          <td>{{retraitPm + panoplieRetraitPm}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</article>
