<div class="statistique green-left">
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Tacle :</span> {{tacle + panoplieTacle}}
    </div>
    <div class="column is-2">
      <span>EsqPA :</span> {{esquivePa + panoplieEsquivePa}}
    </div>
    <div class="column is-2">
      <span>EsqPM :</span> {{esquivePm + panoplieEsquivePm}}
    </div>
  </div>

  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Fuite :</span> {{fuite + panoplieFuite}}
    </div>
    <div class="column is-2">
      <span>RetPA :</span> {{retraitPa + panoplieRetraitPa}}
    </div>
    <div class="column is-2">
      <span>RetPM :</span> {{retraitPm + panoplieRetraitPm}}
    </div>
  </div>
</div>
