<dsb-nav></dsb-nav>

<dsb-progressbar *ngIf="isProgressBarVisible"></dsb-progressbar>
<div class="container customizedMarginTop" *ngIf="!isProgressBarVisible">
  <div class="field">
    <div class="control">
      <input class="input" type="text" (change)="getStuffByName($event)" placeholder="Rechercher par nom">
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Vitalite')" (change)="getStuffByStat('Vitalite')">
        Vitalité
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Force')" (change)="getStuffByStat('Force')">
        Force
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Intelligence')" (change)="getStuffByStat('Intelligence')">
        Intelligence
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Chance')" (change)="getStuffByStat('Chance')">
        Chance
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Agilite')" (change)="getStuffByStat('Agilite')">
        Agilité
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('PA')" (change)="getStuffByStat('PA')">
        PA
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('PM')" (change)="getStuffByStat('PM')">
        PM
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('PO')" (change)="getStuffByStat('PO')">
        PO
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Critique')" (change)="getStuffByStat('Critique')">
        Critique
      </label>
      <label class="checkbox">
        <input type="checkbox" [checked]="getCheckedValueInList('Puissance')" (change)="getStuffByStat('Puissance')">
        Puissance
      </label>
    </div>
  </div>
  <div class="tile is-ancestor" *ngFor="let equipement of equipements;">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Nom :</p>
            <p class="subtitle">{{equipement.name}}</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Niveau :</p>
            <p class="subtitle">{{equipement.lvl}}</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <figure class="image is-128x128">
              <img src="{{equipement.imgUrl}}" alt="Placeholder image">
              <a class="button is-link" (click)="setItem(equipement)">Equiper</a>
            </figure>
          </article>
        </div>
      </div>
      <div *ngIf="getFullPanoplie(equipement.setId).length > 0" class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Panoplie :</p>
          <div class="content">
            <span *ngFor="let full of getFullPanoplie(equipement.setId); let last = last">
              <img src="{{full.imgUrl}}" alt="">
              <a *ngIf="last" class="button is-link" (click)="setPanoplie(equipement.setId)">Equiper la panoplie</a>
            </span>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Charactéristiques : </p>
          <div class="content">
            <div *ngFor="let stat of equipement.stats">
              <div class="columns">
                <div class="column">
                  <u>{{stat.label}}</u>
                  : {{stat.from}}
                  à {{stat.to}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>

  <nav class="pagination is-medium" role="navigation">
    <ul class="pagination-list">
      <li *ngFor="let numberPage of numberPageList"><a class="pagination-link" (click)="goToPage(numberPage)">{{numberPage}}</a></li>
    </ul>
  </nav>
</div>

<dsb-footer></dsb-footer>
