<div class="container">
  <div class="columns" *ngFor="let equipements of equipements; let index = index">
    <div class="columns">
      <div class="column is-11 equipements-content">

        <div class="columns">
          <div class="column is-2">
            <img src="{{equipements.imgUrl}}" alt="" width="200" height="200">
          </div>
          <div class="column is-2">
            Nom : {{equipements.name}}<br/>
            Niveau : {{equipements.lvl}}
          </div>

          <div class="column is-2">
            <a class="button is-link" (click)="setBuild(index)">Choisir</a>
          </div>
        </div>

        <div *ngFor="let stat of equipements.stats">
          <div class="columns">
            <div class="column">
              <u>{{stat.label}}</u>
              : {{stat.from}}
              à {{stat.to}}
            </div>
          </div>
        </div>

      </div>
      <div class="column is-5 all-content">

      </div>
    </div>
  </div>

</div>
