<div class="container">
  <div class="tile is-ancestor" *ngFor="let equipements of equipements; let index = index">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Nom :</p>
            <p class="subtitle">{{equipements.name}}</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Niveau :</p>
            <p class="subtitle">{{equipements.lvl}}</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <figure class="image is-128x128">
              <img src="{{equipements.imgUrl}}" alt="Placeholder image">
            </figure>
          </article>
        </div>
      </div>
      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <p class="title">Wide tile</p>
          <p class="subtitle">Aligned with the right tile</p>
          <div class="content">
            <a class="button is-link" (click)="setBuild(index)">Choisir</a>
          </div>
        </article>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Tall tile</p>
          <p class="subtitle">With even more content</p>
          <div class="content">
            <div *ngFor="let stat of equipements.stats">
              <div class="columns">
                <div class="column">
                  <u>{{stat.label}}</u>
                  : {{stat.from}}
                  à {{stat.to}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
