<div class="statistique">
  <div class="columns">
    <div class="column is-2">
      <span>PA :</span> {{pa}}
    </div>
    <div class="column is-2">
      <span>PM :</span> {{pm}}
    </div>
    <div class="column is-2">
      <span>PO :</span> {{po}}
    </div>
    <div class="column is-2">
      <span>Invoc :</span> {{invocation}}
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <span>Ini :</span> {{initiative}}
    </div>
    <div class="column is-2">
      <span>Soins :</span> {{soin}}
    </div>
    <div class="column is-2">
      <span>Prosp :</span> {{prospection}}
    </div>
    <div class="column is-2">
      <span>Crit :</span> {{critique}}
    </div>
  </div>
  Statistiques :
  <div class="columns">
    <div class="column is-2">
      <span>Vit :</span> {{vitalite}}
      <input [(ngModel)]="inputVitalite" (change)="modifyStat(+$event.target.value, 'Vitalite')" class="input is-vita" type="number" min="0" [max]="remainingPointsToUsed">
    </div>
    <div class="column is-2">
      <span>For :</span> {{force}}
      <input [(ngModel)]="inputForce" (change)="modifyStat(+$event.target.value, 'Force')" class="input is-force" type="number" min="0" [max]="remainingPointsToUsed">
    </div>
    <div class="column is-2">
      <span>Int :</span> {{intelligence}}
      <input [(ngModel)]="inputIntelligence" (change)="modifyStat(+$event.target.value, 'Intelligence')" class="input is-danger" type="number" min="0" [max]="remainingPointsToUsed">
    </div>
    <div class="column is-2">
      <span>Cha :</span> {{chance}}
      <input [(ngModel)]="inputChance" (change)="modifyStat(+$event.target.value, 'Chance')" class="input is-primary" type="number" min="0" [max]="remainingPointsToUsed">
    </div>
    <div class="column is-2">
      <span>Agi :</span> {{agilite}}
      <input [(ngModel)]="inputAgilite" (change)="modifyStat(+$event.target.value, 'Agilite')" class="input is-success" type="number" min="0" [max]="remainingPointsToUsed">
    </div>
    <div class="column is-2">
      <span>Pui :</span> {{puissance}}
      Total : {{remainingPointsToUsed}}
    </div>
  </div>

  <div class="columns">
    <div class="column">
      <button class="button is-primary" (click)="resetStats()">Comme dirait Otomai : "Change ta constitution"</button>
    </div>
  </div>
</div>
