<div class="stats1 columns">
  <div class="column is-2">
    Charactéristiques 1 :
  </div>
  <div class="vitalite column is-2">
    Vitalité : {{vitalite}}
  </div>
  <div class="force column is-2">
    Force : {{force}}
  </div>
  <div class="intelligence column is-2">
    Intelligence : {{intelligence}}
  </div>
  <div class="chance column is-2">
    Chance : {{chance}}
  </div>
  <div class="agilite column is-2">
    Agilite : {{agilite}}
  </div>
  <div class="puissance column is-2">
    Puissance : {{puissance}}
  </div>
</div>
