<div class="statistique">
  <div class="columns">
    <div class="column is-3">
      <span>PA :</span> {{pa}}
    </div>
    <div class="column is-3">
      <span>PM :</span> {{pm}}
    </div>
    <div class="column is-3">
      <span>PO :</span> {{po}}
    </div>
    <div class="column is-3">
      <span>Invoc :</span> {{invocation}}
    </div>
  </div>

  <div class="columns">
    <div class="column is-3">
      <span>Ini :</span> {{initiative}}
    </div>
    <div class="column is-3">
      <span>Soins :</span> {{soin}}
    </div>
    <div class="column is-3">
      <span>Prospec :</span> {{prospection}}
    </div>
    <div class="column is-3">
      <span>Crit :</span> {{critique}}
    </div>
  </div>

  <div class="columns">
    <div class="column is-2">
      <span>Vita :</span> {{vitalite}}
    </div>
    <div class="column is-2">
      <span>Fo :</span> {{force}}
    </div>
    <div class="column is-2">
      <span>Int :</span> {{intelligence}}
    </div>
    <div class="column is-2">
      <span>Chan :</span> {{chance}}
    </div>
    <div class="column is-2">
      <span>Agi :</span> {{agilite}}
    </div>
    <div class="column is-2">
      <span>Puiss :</span> {{puissance}}
    </div>
  </div>
</div>
