<div class="iop">
  <div class="card" *ngFor="let sort of iop.listSort()">
    <header class="card-header">
      <p class="card-header-title">
        {{sort.label}} <img src="{{sort.image}}" alt="">
      </p>
    </header>
    <div class="card-content">
      <div class="content">
        Degats de base : {{calculDegatBase(sort.normal[0], sort.type)}}
        - {{calculDegatBase(sort.normal[1], sort.type)}}
      </div>
    </div>
    <div class="card-content">
      <div class="content">
        Degats de critique : {{calculDegatCritique(sort.critique[0], sort.type)}}
        - {{calculDegatCritique(sort.critique[1], sort.type)}}
      </div>
    </div>
    <footer class="card-footer">
      <div class="card-footer-item">Level 1</div>
      <div class="card-footer-item">Level 2</div>
      <div class="card-footer-item">Level 3</div>
    </footer>
  </div>
</div>
