<div class="statistique green-right">
  <div class="columns has-text-centered">
    <div class="column">
      <img *ngIf="slot1 !== undefined" src="{{slot1.imgUrl}}" alt=""/>
      <a *ngIf="slot1 === undefined" routerLink="dofus">Dofus</a>
      <br />
      <a *ngIf="slot1 === undefined" routerLink="trophee">Trophée</a>
    </div>
    <div class="column">
      <img *ngIf="slot2 !== undefined" src="{{slot2.imgUrl}}" alt=""/>
      <a *ngIf="slot2 === undefined" routerLink="dofus">Dofus</a>
      <br />
      <a *ngIf="slot2 === undefined" routerLink="trophee">Trophée</a>
    </div>
    <div class="column">
      <img *ngIf="slot3 !== undefined" src="{{slot3.imgUrl}}" alt=""/>
      <a *ngIf="slot3 === undefined" routerLink="dofus">Dofus</a>
      <br />
      <a *ngIf="slot3 === undefined" routerLink="trophee">Trophée</a>
    </div>
    <div class="column">
      <img *ngIf="slot4 !== undefined" src="{{slot4.imgUrl}}" alt=""/>
      <a *ngIf="slot4 === undefined" routerLink="dofus">Dofus</a>
      <br />
      <a *ngIf="slot4 === undefined" routerLink="trophee">Trophée</a>
    </div>
    <div class="column">
      <img *ngIf="slot5 !== undefined" src="{{slot5.imgUrl}}" alt=""/>
      <a *ngIf="slot5 === undefined" routerLink="dofus">Dofus</a>
      <br />
      <a *ngIf="slot5 === undefined" routerLink="trophee">Trophée</a>
    </div>
    <div class="column">
      <img *ngIf="slot6 !== undefined" src="{{slot6.imgUrl}}" alt=""/>
      <a *ngIf="slot6 === undefined" routerLink="dofus">Dofus</a>
      <br />
      <a *ngIf="slot6 === undefined" routerLink="trophee">Trophée</a>
    </div>
  </div>

</div>
