<div class="slots columns">
  <div class="column">
    Slots :
  </div>
  <div class="slot1 column">
    <img *ngIf="slot1 !== ''" src="{{slot1}}" alt=""/>
    <a *ngIf="slot1 === ''" routerLink="dofus">Choisir Dofus</a>
    <br />
    <a *ngIf="slot1 === ''" routerLink="torphee">Choisir Trophée</a>
  </div>
  <div class="slot2 column">
    <img *ngIf="slot2 !== ''" src="{{slot2}}" alt=""/>
    <a *ngIf="slot2 === ''" routerLink="dofus">Choisir Dofus</a>
    <br />
    <a *ngIf="slot2 === ''" routerLink="torphee">Choisir Trophée</a>
  </div>
  <div class="slot3 column">
    <img *ngIf="slot3 !== ''" src="{{slot3}}" alt=""/>
    <a *ngIf="slot3 === ''" routerLink="dofus">Choisir Dofus</a>
    <br />
    <a *ngIf="slot3 === ''" routerLink="torphee">Choisir Trophée</a>
  </div>
  <div class="slot4 column">
    <img *ngIf="slot4 !== ''" src="{{slot4}}" alt=""/>
    <a *ngIf="slot4 === ''" routerLink="dofus">Choisir Dofus</a>
    <br />
    <a *ngIf="slot4 === ''" routerLink="torphee">Choisir Trophée</a>
  </div>
  <div class="slot5 column">
    <img *ngIf="slot5 !== ''" src="{{slot5}}" alt=""/>
    <a *ngIf="slot5 === ''" routerLink="dofus">Choisir Dofus</a>
    <br />
    <a *ngIf="slot5 === ''" routerLink="torphee">Choisir Trophée</a>
  </div>
  <div class="slot6 column">
    <img *ngIf="slot6 !== ''" src="{{slot6}}" alt=""/>
    <a *ngIf="slot6 === ''" routerLink="dofus">Choisir Dofus</a>
    <br />
    <a *ngIf="slot6 === ''" routerLink="torphee">Choisir Trophée</a>
  </div>
</div>
