<nav class="navbar is-warning" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <img src="../../assets/logo.png" width="" height="" alt="">
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="" class="navbar-item">
        Equipements
      </a>

      <a routerLink="" (click)="goToSpellPage()" class="navbar-item">
        Sorts
      </a>

      <a routerLink="/devlog" class="navbar-item">
        Devlog
      </a>
    </div>

    <div class="navbar-start">
      <div class="navbar-item">
        Sélection du niveau :&nbsp;<dsb-niveau></dsb-niveau>
      </div>
      <div class="navbar-item">
        Sélection de la classe :&nbsp;<dsb-classe></dsb-classe>
      </div>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <button id="googleSignIn" class="button is-outlined">Connexion avec Google</button>
        <button id="googleSignOut" class="button is-outlined none-element" (click)="goToMyProfile()">Mon profil</button>
        <button id="googleSignOut" class="button is-outlined none-element" (click)="signOut()">Déconnexion</button>
      </div>
    </div>
  </div>
</nav>
