<dsb-nav></dsb-nav>

<div class="container customizedMarginTop">
  <div class="content is-medium">
    <h1>Hello !</h1>
    <p>
      Ici c'est pour faire une petite mise au point sur ce qui reste à faire sur le site, surtout les évoltions. Et aussi pour un peu plus de transparence.
      <br />
      Le site est encore en <b>ALPHA</b> et il me reste pas mal de truc à faire; et je suis seul et je fais ça sur mon temps perso, donc y'a beaucoup de facteur
      qui rentre en jeu. Hésitez pas à faire des retours à cette adresse `dsbcontacttmtc@gmail.com` surtout les bugs c'est le plus important pour le moment, mettez
      moi une petite description de ce qui va pas un truc assez explicite (avec des screens si possible).
    </p>

    <h2>Les gros chantiers</h2>
    <p>Pour commencer voici une petite liste de ce qui reste de plus important à faire :</p>
    <ul>
      <li><strong>La connection.</strong> Ca sera avec facebook ou google.</li>
      <li><strong>Le stockage.</strong> Pour le moment y'a pas de stockage parce que c'est très couteux et j'ai pas spécialement envie de mettre de l'argent là dedans.
        <br />
        <i>
          Pour le moment le système sera sous forme de fichier `.txt` sauvegarder sur votre PC pour pas perdre vos belles créations.
        </i>
      </li>
      <li>
        <strong>La "TL".</strong> Un peu comme sur Twitter vous pourrez poster vos stuffs. Mais ce point est plus que très lié au point d'au dessus.
        C'est pas long à faire j'ai juste il faut que je trouve le temps de trouver le bon compromis pour la base de donnée.
        <br />
        <i>
          Je risque de copier sur DofusPlanner pour les systèmes de <u>like</u> et de <u>tendances</u> je trouvais l'idée assez cool.<br />
        </i>
      </li>
    </ul>

    <h3>Les moins gros chantiers</h3>
    <p>Ici ce que je trouve secondaire mais importants à faire :</p>
    <ul>
      <li><strong>La gestion des dégâts des armes.</strong> Pour le moment y'a que les stats qui sont prises en charge.
      <li><strong>La gestion du niveau des stuffs.</strong> Pour le moment y'a que le niveau 200 parce que ça me permettait de gagner du temps.
        et on va pas se cacher on fait plus souvent des stuffs lvl 200 :D</li>
      <li><strong>Améliorations graphiques.</strong> L'esthétisme n'est pas mon point fort mdr, il me faudrait peut être des maquettes ou des idées pour que ce soit "plus beau", les tableaux pour
        les characs affreux ahah, bref si vous avez des idées hésiter pas à m'envoyer un mail !</li>
      <li><strong>Trouver des gens pour maintenir et faire évoluer le site.</strong>
        Je m'adresse plus ici à des devs (vous pouvez zapper ceux que ça intéresse pas). Si vous avez envie de me rejoindre les technos.
        <br />
        <u>Pour le front :</u>
        <ul>
          <li>Angular 5 (c'est vraiment exactement comme React et Vue).</li>
          <li>Bulma CSS c'est très sympa franchement et léger (y'a pas de JS dedans).</li>
        </ul>
        <u>Pour le back :</u>
        <ul>
          <li>Java, Spring Boot (grosse base ahah).</li>
        </ul>
        <u>Pour l'ops :</u> c'est la que j'ai besoin d'aide parce que je connais que très peu tout ce qui se passe après la livraison du code, chaud pour de l'aide :)
        <br />
      </li>
    </ul>

    <h4>Les petits chantiers</h4>
    <p>Ici c'est plus du confort pour le moment, et surtout que je peux pas tout faire d'un coup :)</p>
    <ul>
      <li><strong>Alerte/Notification</strong> En règle général plus d'alerte pour avoir des retours sur vos actions.</li>
      <li><strong>Amélioration du système de points de charatéristiques</strong> C'est personnel mais je le trouve vraiment hardcore (alors que c'est moi qui l'ai fait mdr) mais
        j'aimerais une autre idée, hésiter pas si vous voyez mieux et plus simple</li>
      <li><strong>Recherche sur les stuffs</strong> Barre de recherche pour chercher un stuff par nom.</li>
      <li><strong>Filtre sur les stuffs</strong> Trier par élément, résistance, PA, PM, etc...</li>
      <li><strong>Gestion des armes</strong> A distance, au CAC.</li>
      <li><strong>Gestion des dégats boostés et des soins</strong> Pas encore traiter ce sujet :D</li>
      <li><strong>Gestion des dégats de zone</strong> Il me faut l'algo c'est tout :D</li>
      <li><strong>Gestion des boosts</strong> J'ai pas ajouté les sorts de boosts pour le moment.</li>
      <li><strong>Bouton "Aller en haut en bas"</strong> Pratique parfois.</li>
    </ul>

    <h1>
      Conclusion
    </h1>
    <p>
      A coup sur je ferais la partie "Les gros chantiers" parce que c'est le plus important. Ensuite je ferais les features en fonction de vos envies. Je ferais des surveys pour avoir un peu de feedback.
      Je suis preneur de toutes remarques à cette adresse : `dsbcontacttmtc@gmail.com`. Merci d'avance. A+.
    </p>
  </div>

</div>

<dsb-footer></dsb-footer>
