<div class="resistance1 columns">
  <div class="column is-2">
    Résistance 1 :
  </div>
  <div class="resistanceTerre column is-2">
    Terre : {{resistanceTerre}}
  </div>
  <div class="resistanceFeu column is-2">
    Feu : {{resistanceFeu}}
  </div>
  <div class="resistanceEau column is-2">
    Eau : {{resistanceEau}}
  </div>
  <div class="resistanceAir column is-2">
    Air : {{resistanceAir}}
  </div>
</div>
<div class="resistance2 columns">
  <div class="column is-2">
    Résistance 2 :
  </div>
  <div class="resistanceFixeTerre column is-2">
    Fixe Terre : {{resistanceFixeTerre}}
  </div>
  <div class="resistanceFixeFeu column is-2">
    Fixe Feu : {{resistanceFixeFeu}}
  </div>
  <div class="resistanceFixeEau column is-2">
    Fixe Eau : {{resistanceFixeEau}}
  </div>
  <div class="resistanceFixeAir column is-2">
    Fixe Air : {{resistanceFixeAir}}
  </div>
</div>
