<div class="statistique green-left">
  Dommages Fix:
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Dom :</span> {{dommages}}
    </div>
    <div class="column is-2">
      <span>Neu :</span> {{dommagesNeutre}}
    </div>
    <div class="column is-2">
      <span>Ter :</span> {{dommagesTerre}}
    </div>
    <div class="column is-2">
      <span>Feu :</span> {{dommagesFeu}}
    </div>
    <div class="column is-2">
      <span>Eau :</span> {{dommagesEau}}
    </div>
    <div class="column is-2">
      <span>Air :</span> {{dommagesAir}}
    </div>
  </div>
  Dommages Autres :
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Mél :</span> {{dommagesMelee}}
    </div>
    <div class="column is-2">
      <span>Dis :</span> {{dommagesDistance}}
    </div>
    <div class="column is-2">
      <span>Sor :</span> {{dommagesAuxSorts}}
    </div>
    <div class="column is-2">
      <span>Cri :</span> {{dommagesCritiques}}
    </div>
    <div class="column is-2">
      <span>Pou :</span> {{dommagesPoussee}}
    </div>
  </div>
</div>
