<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Dommages fixes :</strong>
      </p>
    </div>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>Basique</th>
              <th>Neutre</th>
              <th>Terre</th>
              <th>Feu</th>
              <th>Eau</th>
              <th>Air</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{dommages + panoplieDommages}}</td>
              <td>{{dommagesNeutre + panoplieDommagesNeutre}}</td>
              <td>{{dommagesTerre + panoplieDommagesTerre}}</td>
              <td>{{dommagesFeu + panoplieDommagesFeu}}</td>
              <td>{{dommagesEau + panoplieDommagesEau}}</td>
              <td>{{dommagesAir + panoplieDommagesAir}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</article>

<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Dommages autres :</strong>
      </p>
    </div>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>Mêlée</th>
              <th>Distance</th>
              <th>Sort</th>
              <th>Critique</th>
              <th>Poussée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{dommagesMelee + panoplieDommagesMelee}}</td>
              <td>{{dommagesDistance + panoplieDommagesDistance}}</td>
              <td>{{dommagesAuxSorts + panoplieDommagesAuxSorts}}</td>
              <td>{{dommagesCritiques + panoplieDommagesCritiques}}</td>
              <td>{{dommagesPoussee + panoplieDommagesPoussee}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</article>
