<div class="statistique green-left">
  Dommages Fix:
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Dom :</span> {{dommages + panoplieDommages}}
    </div>
    <div class="column is-2">
      <span>Neu :</span> {{dommagesNeutre + panoplieDommagesNeutre}}
    </div>
    <div class="column is-2">
      <span>Ter :</span> {{dommagesTerre + panoplieDommagesTerre}}
    </div>
    <div class="column is-2">
      <span>Feu :</span> {{dommagesFeu + panoplieDommagesFeu}}
    </div>
    <div class="column is-2">
      <span>Eau :</span> {{dommagesEau + panoplieDommagesEau}}
    </div>
    <div class="column is-2">
      <span>Air :</span> {{dommagesAir + panoplieDommagesAir}}
    </div>
  </div>
  Dommages Autres :
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Mél :</span> {{dommagesMelee + panoplieDommagesMelee}}
    </div>
    <div class="column is-2">
      <span>Dis :</span> {{dommagesDistance + panoplieDommagesDistance}}
    </div>
    <div class="column is-2">
      <span>Sor :</span> {{dommagesAuxSorts + panoplieDommagesAuxSorts}}
    </div>
    <div class="column is-2">
      <span>Cri :</span> {{dommagesCritiques + panoplieDommagesCritiques}}
    </div>
    <div class="column is-2">
      <span>Pou :</span> {{dommagesPoussee + panoplieDommagesPoussee}}
    </div>
  </div>
</div>
