<div class="builder">

  <dsb-nav></dsb-nav>

  <main>
      <div class="columns">
        <div class="column is-4">
          <dsb-characteristique1></dsb-characteristique1>
          <dsb-characteristique2></dsb-characteristique2>
          <dsb-characteristique3></dsb-characteristique3>
          <dsb-characteristique4></dsb-characteristique4>
        </div>

        <div class="column is-4">
          <dsb-stuff2></dsb-stuff2>
          <div class="classe">
            <img *ngIf="classe === 'Iop'" src="../../assets/iop.png">
          </div>
          <div class="classe">
            <img *ngIf="classe === 'Sacrieur'" src="../../assets/sacrieur.webp">
          </div>
          <dsb-panoplie-bonus></dsb-panoplie-bonus>
        </div>

        <div class="column is-4">
          <dsb-stuff1></dsb-stuff1>
        </div>
      </div>
  </main>
</div>
