<dsb-nav></dsb-nav>

<main class="customizedMarginTop">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Charactéristiques principales :</p>
            <dsb-characteristique1></dsb-characteristique1>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Dommages :</p>
            <dsb-characteristique2></dsb-characteristique2>
          </article>
          <article class="tile is-child notification is-primary">
            <p class="title">Autres charactéristiques :</p>
            <dsb-characteristique3></dsb-characteristique3>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Résistances :</p>
            <dsb-characteristique4></dsb-characteristique4>
          </article>
        </div>

        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <div class="content">
              <p class="title">Inventaire :</p>
              <dsb-stuff1></dsb-stuff1>
<!--              <button class="button" (click)="saveStuff()">Sauvegarder le stuff</button>-->
              <button class="button" (click)="resetStuff()">Reset le stuff</button>
            </div>
          </article>
        </div>
      </div>

      <div class="tile is-parent">
        <article class="tile is-child notification is-danger">
          <div class="content">
            <dsb-stuff2></dsb-stuff2>
          </div>
        </article>
      </div>
    </div>

    <div class="card1" (click)="toggleCard()">
      <div class="face front" *ngIf="isPanoplieBonusVisible">
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <div class="columns">
                <div class="column">
                  <p class="title">Bonus panoplie(s) :</p>
                </div>
                <div class="column is-1">
                  <i class="fas fa-arrow-right is-large"></i>
                </div>
              </div>
              <dsb-panoplie-bonus></dsb-panoplie-bonus>
            </div>
          </article>
        </div>
      </div>

      <div class="face back" *ngIf="!isPanoplieBonusVisible">
        <div class="tile is-parent">
          <article class="tile is-child notification is-success">
            <div class="content">
              <div class="columns">
                <div class="column">
                  <p class="title">Stuff sélectionné :</p>
                </div>
                <div class="column is-1">
                  <i class="fas fa-arrow-left is-large"></i>
                </div>
              </div>
              <dsb-stuff-viewer></dsb-stuff-viewer>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</main>

<dsb-footer></dsb-footer>
