<div class="builder">
  <div class="amulette message">
    <div class="message-header">
      Amulette
    </div>
    <div class="message-body">
      <a routerLink="/armes" routerLinkActive="active">Choisir</a>
    </div>
  </div>

  <div class="anneau1 message">
    <div class="message-header">
      Anneau 1
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="anneau2 message">
    <div class="message-header">
      Anneau 2
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="ceinture message">
    <div class="message-header">
      Ceinture
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="bottes message">
    <div class="message-header">
      Bottes
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="coiffe message">
    <div class="message-header">
      Coiffe
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="cape message">
    <div class="message-header">
      Cape
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="arme message">
    <div class="message-header">
      Arme
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="bouclier message">
    <div class="message-header">
      Bouclier
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="familier message">
    <div class="message-header">
      Familier
    </div>
    <div class="message-body">
      Choisir
    </div>
  </div>

  <div class="slots columns">
    <div class="message-header">
      Slots
    </div>
    <div class="slot1 column">
      Choisir
    </div>
    <div class="slot2 column">
      Choisir
    </div>
    <div class="slot3 column">
      Choisir
    </div>
    <div class="slot4 column">
      Choisir
    </div>
    <div class="slot5 column">
      Choisir
    </div>
    <div class="slot6 column">
      Choisir
    </div>
  </div>
</div>
