<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Pourcentages :</strong>
      </p>
    </div>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>Neutre</th>
              <th>Terre</th>
              <th>Feu</th>
              <th>Eau</th>
              <th>Air</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{resistanceNeutre + panoplieResistanceNeutre}}</td>
              <td>{{resistanceTerre + panoplieResistanceTerre}}</td>
              <td>{{resistanceFeu + panoplieResistanceFeu}}</td>
              <td>{{resistanceEau + panoplieResistanceEau}}</td>
              <td>{{resistanceAir + panoplieResistanceAir}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</article>

<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Fixes :</strong>
      </p>
    </div>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>Neutre</th>
              <th>Terre</th>
              <th>Feu</th>
              <th>Eau</th>
              <th>Air</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{resistanceFixeNeutre + panoplieResistanceFixeNeutre}}</td>
              <td>{{resistanceFixeTerre + panoplieResistanceFixeTerre}}</td>
              <td>{{resistanceFixeFeu + panoplieResistanceFixeFeu}}</td>
              <td>{{resistanceFixeEau + panoplieResistanceFixeEau}}</td>
              <td>{{resistanceFixeAir + panoplieResistanceFixeAir}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</article>

<article class="media">
  <div class="media-content">
    <div class="content">
      <p>
        <strong>Autres :</strong>
      </p>
    </div>

    <article class="media">
      <div class="media-content">
        <div class="content">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
            <tr>
              <th>Mêlée</th>
              <th>Distance</th>
              <th>Critique</th>
              <th>Poussée</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{resistanceMelee + panoplieResistanceMelee}}</td>
              <td>{{resistanceDistance + panoplieResistanceDistance}}</td>
              <td>{{resistanceCritiques + panoplieResistanceCritiques}}</td>
              <td>{{resistancePoussees + panoplieResistancePoussees}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </article>
  </div>
</article>
