<div class="statistique green-left">
  Résistances :
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Neu : </span>{{resistanceNeutre}}
    </div>
    <div class="column is-2">
      <span>Ter : </span>{{resistanceTerre}}
    </div>
    <div class="column is-2">
      <span>Feu : </span>{{resistanceFeu}}
    </div>
    <div class="column is-2">
      <span>Eau : </span>{{resistanceEau}}
    </div>
    <div class="column is-2">
      <span>Air : </span>{{resistanceAir}}
    </div>
  </div>
  Résistances Fixes :
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Neu</span>: {{resistanceFixeNeutre}}
    </div>
    <div class="column is-2">
      <span>Ter</span>: {{resistanceFixeTerre}}
    </div>
    <div class="column is-2">
      <span>Feu</span>: {{resistanceFixeFeu}}
    </div>
    <div class="column is-2">
      <span>Eau</span>: {{resistanceFixeEau}}
    </div>
    <div class="column is-2">
      <span>Air</span>: {{resistanceFixeAir}}
    </div>
  </div>
  Autres résistances :
  <div class="columns has-text-centered">
    <div class="column is-3">
      <span>Cri</span>: {{resistanceCritiques}}
    </div>
    <div class="column is-3">
      <span>Pou</span>: {{resistancePoussees}}
    </div>
    <div class="column is-3">
      <span>Dis</span>: {{resistanceDistance}}
    </div>
    <div class="column is-3">
      <span>Mêl</span>: {{resistanceMelee}}
    </div>
  </div>
</div>
