<div class="statistique green-left">
  Résistances :
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Neu : </span>{{resistanceNeutre + panoplieResistanceNeutre}}
    </div>
    <div class="column is-2">
      <span>Ter : </span>{{resistanceTerre + panoplieResistanceTerre}}
    </div>
    <div class="column is-2">
      <span>Feu : </span>{{resistanceFeu + panoplieResistanceFeu}}
    </div>
    <div class="column is-2">
      <span>Eau : </span>{{resistanceEau + panoplieResistanceEau}}
    </div>
    <div class="column is-2">
      <span>Air : </span>{{resistanceAir + panoplieResistanceAir}}
    </div>
  </div>
  Résistances Fixes :
  <div class="columns has-text-centered">
    <div class="column is-2">
      <span>Neu</span>: {{resistanceFixeNeutre + panoplieResistanceFixeNeutre}}
    </div>
    <div class="column is-2">
      <span>Ter</span>: {{resistanceFixeTerre + panoplieResistanceFixeTerre}}
    </div>
    <div class="column is-2">
      <span>Feu</span>: {{resistanceFixeFeu + panoplieResistanceFixeFeu}}
    </div>
    <div class="column is-2">
      <span>Eau</span>: {{resistanceFixeEau + panoplieResistanceFixeEau}}
    </div>
    <div class="column is-2">
      <span>Air</span>: {{resistanceFixeAir + panoplieResistanceFixeAir}}
    </div>
  </div>
  Autres résistances :
  <div class="columns has-text-centered">
    <div class="column is-3">
      <span>Cri</span>: {{resistanceCritiques + panoplieResistanceCritiques}}
    </div>
    <div class="column is-3">
      <span>Pou</span>: {{resistancePoussees + panoplieResistancePoussees}}
    </div>
    <div class="column is-3">
      <span>Dis</span>: {{resistanceDistance + panoplieResistanceDistance}}
    </div>
    <div class="column is-3">
      <span>Mêl</span>: {{resistanceMelee + panoplieResistanceMelee}}
    </div>
  </div>
</div>
