a {
  cursor: pointer;
}

*:focus {
  outline: none;
}

nav {
  background-color: #696565 !important;
  font-family: Anton, sans-serif;
}

.navbar {
  color: white !important;
}

.statistique {
  border-radius: 5px;
  background-color: #577f4a;
  margin: 20px;
  padding: 5px;
}

@font-face {
  font-family: Anton;
  src: url("../styles/Anton-Regular.ttf");
}
