<dsb-nav></dsb-nav>
<div class="container margin-top-30">
  <div class="tile is-ancestor" *ngFor="let arme of armes; let index = index">
    <div class="tile is-vertical is-8">
      <div class="tile">
        <div class="tile is-parent is-vertical">
          <article class="tile is-child notification is-primary">
            <p class="title">Nom :</p>
            <p class="subtitle">{{arme.name}}</p>
          </article>
          <article class="tile is-child notification is-warning">
            <p class="title">Niveau :</p>
            <p class="subtitle">{{arme.lvl}}</p>
          </article>
        </div>
        <div class="tile is-parent">
          <article class="tile is-child notification is-info">
            <figure class="image is-128x128">
                <img src="{{arme.imgUrl}}" alt="Placeholder image">
                <a class="button is-link" (click)="setBuild(index)">Equiper</a>
            </figure>
          </article>
        </div>
      </div>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child notification is-success">
        <div class="content">
          <p class="title">Charactéristiques : </p>
          <div class="content">
            <div *ngFor="let stat of arme.stats">
              <div class="columns">
                <div class="column">
                  <u>{{stat.label}}</u>
                  : {{stat.from}}
                  à {{stat.to}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
